.product-features {
    margin: 10px 0;
}
.product-title {
    font-size: 25px;
}
.btns-wrapper {
    display: flex;
    justify-content: center;
}
.product-image {
    display: flex;
    justify-content: center;
}
.product-price {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.product-image img {
    height: 200px;
}
.product-quantity {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}
.product-quantity input {
    text-align: center;
}
.green {
    color: green;
}
.red {
    color: red;
}